<?xml version="1.0" encoding="utf-8" ?>
<!--

######### ARCHIVO DE CONFIGURACION DEL SISTEMA #########

ESTE ARCHIVO DEBE UBICARSE EN LA MISMA CARPETA DONDE ESTA EL .EXE DEL SISTEMA CON EL NOMBRE 'FrbaHotel.exe.config' DE LO CONTRARIO NO SE TOMARA LA CONFIGRACION

SI SE VA A CORRER DESDE VISUAL STUDIO FIJARSE EL MODO (RELEASE / DEBUG), EL EXE DEL SISTEMA SE ENCUENTRA EN /bin/modo/

-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrbaHotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
    <add key="FechaSistema" value="2017-01-01" />
    <add key="SQLServer" value=".\SQLSERVER2012" />
    <add key="SQLUsername" value="gdHotel2018" />
    <add key="SQLPassword" value="gd2018" />
    <add key="SQLDatabase" value="GD1C2018" />
  </appSettings>
</configuration>